body{
    background-image: url(../img/Sin-tiÌtulo-1.png);
    background-position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}
main{
    text-align: center;
    padding: 160px;
}

iframe{
    border: 0;
}
